.exmp-list{
  color: #7aca25;
}
.mat-form-field{
  width: 50%;
  align-items: center;
}
.mat-card-content,.mat-card-actions,.mat-card-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
