<footer class="text-center text-lg-start bg-light text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © {{ currentYear }} Copyright:
    <a
      class="text-reset fw-bold"
      target="_blank"
      href="https://drive.google.com/file/d/1wuCtVJBd6pObJAMQE9pD1G-pEhKTJWSg/view?usp=sharing"
      >Ahmed Nader</a
    >

    <br />
    <a
      href="mailto:ahmed.nader5549@gmail.com"
      target="_blank"
      class="me-4 text-reset"
    >
      <i class="fa fa-google"></i>
    </a>
    <a
      href="https://github.com/Ahmed747474"
      target="_blank"
      class="me-4 text-reset"
    >
      <i class="fa fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/ahmed-nader-1907"
      target="_blank"
      class="me-4 text-reset"
    >
      <i class="fa fa-linkedin"></i>
    </a>
    <p class="me-4 text-reset">
      <i class="fa fa-phone me-3"></i> + 01 151 208 963
    </p>
  </div>
</footer>
